@media screen and (min-width: 700px) {

    main.container {
        max-width: 900px;
        margin: 0 auto;
    }

    fieldset {
        margin-bottom: 1.5rem;
    }
    
    legend {
        font-size: 1.2rem;
    }

    textarea {
        min-height: 120px;
        min-width: 96.5%;
    }

    input[type="date"]{
        font-size: 1.5rem;
    }

    .name-box {
        min-height: 120px;
        min-width: 96.5%;
    }

    input[type="submit"]{
        display: block;
        margin: 2rem auto 0;
        margin-top: .3rem;
    }

}