* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, helvetica, sans-serif;
}

header, main, footer {
	max-width: 760px;
	margin: 0 auto;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

h2 {
	color: navy;
	justify-content: left;
    grid-column: 1 / 3;
}
h3 {
    margin-bottom: .5rem;
}

article p {
	text-align: justify;
    grid-column: 1 / 2;
}
main {
	display: grid;
	grid-template-columns: 1fr 200px;
	grid-gap: 1.5rem;
}

section {
	padding: 1rem;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
.banner {
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(42, 45, 48);
    color: white;
    grid-column: 1 / 3;
    text-align: center;

}
.callout {
	color: white;
	background-color: rgb(42, 45, 48);
    padding: 1rem;
    grid-column: 1 / 3;
}


