@media screen and (min-width: 700px) {
    
    header {
        padding: 1rem 2rem;
    }

    h1 {
        font-size: 2.3rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    .logo-row {
        text-align: center;
    }

    .title-row {
        justify-content: center;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .services-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .services {
        max-height: 500px;
    }

    h1 {
        font-size: 2.3rem;
    }
    
    h2 {
        font-size: 2rem;
        grid-column: span 2;
    }


    /* photo album */


    .album { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px .5fr 1fr 1fr;
    }
    .album figure {
        margin: 1rem;
    }

    .album .one {
        grid-row: 2;
        grid-column: 2;
    }
    .album .two {
        grid-row: 4;
    }
    .album .three {
        grid-row: 2;
    }
    .album .four {
        grid-row: 3;
    }
    .album .five {
        grid-row: 4;
    }
    .album .six {
        grid-row: 3;
    }

    .album figcaption {
        padding: 0.75rem;
        text-align: center;
        
    }
    
}

