@media screen and (min-width: 700px) {
    
    header {
        padding: 1rem 2rem;
    }

    h1 {
        font-size: 2.3rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    .logo-row {
        text-align: center;
    }

    .title-row {
        justify-content: center;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    h1 {
        font-size: 2.3rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    .history {
        min-width: 300px;
    }

    /* .split {
        display: flex;
        align-items: flex-start;
        gap: 3rem;
        margin: 3rem auto;
        max-width: 1100px;
    }

    .split.reverse {
        flex-direction: row-reverse;
    }

    .split-text,
    .split-img {
        flex: 1;
    }
    .split-img img {
        width: 100%;
    } */




}

