:root {
    --primary-color: rgb(12, 108, 172);
    --secondary-color: rgb(27, 212, 245);
    --tertiary-color: rgb(173, 226, 250);
    --text-color: rgb(207, 238, 241);
    --dark-accent-color: rgb(37, 27, 180);
    --header-1-color: rgb(14, 59, 92);
    --header-2-color: rgb(30, 111, 168);
}

* {
    font-family: 'noto sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--tertiary-color);
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    background: linear-gradient(to right, var(--header-1-color),var(--header-2-color));
}


h1 {
    font-size: x-large;
    font-weight: 700;
    color: var(--text-color);
}

h2, h3 {
    text-align: center;
    padding: 1.5rem;
    font-weight: bold;
}

h2::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background: var(--primary-color);
    margin: 1.5rem auto 0;
}

h3::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: var(--primary-color);
    margin: 1.5rem auto 0;
}

.services {
    text-align: center;
    font-size: large;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    background-color: var(--text-color);
    padding: 1.5rem;
    
}


figure img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.history {
    line-height: 1.6;
    text-align: center;
    font-size: larger;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    margin: 1.5rem auto;
    background-color: var(--text-color);
    padding: 1.5rem ;
}

.logo {
    width: 200px;
}

.logo-row {
    text-align: center;
    padding: .5rem;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.5rem;   
}



.hamburger {
    background: none;
    border: none;
    font-size: 2.4rem;
    color: var(--text-color);
    cursor: pointer;
}

.navigation a:hover {
    color: var(--secondary-color);
}

.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 1rem ;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.navigation.show {
    display: flex;
}

figcaption {
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--text-color);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    padding: .25rem;
}

figure {
    padding-bottom: 2rem;
}



main {
    background-color: var(--tertiary-color);
    background: linear-gradient(to right, var(--primary-color),var(--secondary-color));
    padding: 1rem 1.2rem;
    justify-items: center;
}


.italic {
    font-style: italic;
}

footer {
    display: block;
    text-align: center;
    padding: 1.1rem;
    background-color: var(--primary-color);
    color:  var(--text-color);
}



/* Contact page */

.contact-form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 0.5rem;
  font-size: 1rem;
}

label {
    margin-bottom: .5rem;
    font-weight: bold;
}

fieldset {
    border: 1px solid var(--dark-accent-color);
}

button {
    padding: .75rem;
    background-color: var(--dark-accent-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--primary-color);
}

input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.7);
    margin-right: 0.5rem;
}
input[type="radio"],
input[type="checkbox"]:hover {
    cursor: pointer;
}

.checkbox-group {
    margin: 1.8rem;
   
}

