* {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    max-width: 900px;
    
    
}
header {
    padding: 1px;
}
header span {
    display: block;
    text-align: center;
    background-color: rgb(62, 67, 143);
    color: white;
    padding: 10px;
    font-size: x-large
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(44, 46, 48);
    padding: 10px;
    align-items: center;
    width: auto;
}
nav a {
    text-decoration: none;
    flex-direction: column;
    color: white;
    font-size: larger;
    border: 4px solid transparent;
}
nav a:hover {
    border: 4px solid white;
}
h1 {
    text-align: center;
    grid-column: 1 / -1;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    max-width: 900px;
    
}
main p {
    margin-left: 5px;
    margin-right: 5px;
    
}
.card {
    background-color: white;
    border: 2px solid rgb(44, 46, 48);
    border-radius: 12px;
    padding: 15px;
}
.card h3 {
    margin-top: 0;
    background-color: rgb(62, 67, 143);
    color: white;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}
.profilepic {
    max-width: 150px;
    float: right;
    margin: 0 0 10px 10px;
    border-radius: 8px;
}
.flag {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}
.flag-info {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 10px;
}

.middle-span {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: larger;
    
}
li {
    margin: 10px;
}
figcaption {
    font-weight: 500;
    text-align: center;
    
}



footer {
    display: block;
    text-align: center;
}