@media screen and (min-width: 513px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        max-width: 900;
    }
}


@media screen and (min-width: 900px) {

    nav {
        margin-left: auto;
    }
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
        gap: 2rem;
    }
    .navigation a {
        display: block;
        padding: 0;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

