@media screen and (min-width: 513px) {

    nav {
        margin-left: auto;
    }
    #menu {
        display: none;
    }
    .navigation {
        flex-direction: row;
        gap: 2rem;
    }
    .navigation a {
        display: block;
        padding: 0;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1rem;
    }



}