main {
    position: relative;
}

.data-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: rgba(252, 239, 129, .75);
    color: rgb(46, 46, 206);
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: large;
    border-radius: 4px;
    padding: 2.75rem 1rem 1rem;
}

.weather-box {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: rgba(252, 239, 129, .75);
    color: rgb(46, 46, 206);
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: large;
    border-radius: 4px;
    padding: 2.75rem 1rem 1rem;
}

.data-box h2, 
.weather-box h2 {
    position: absolute;
    top: -1rem;
    left: 1rem;
    background-color: rgba(46, 46, 206, .9);
    color: var(--yellow);
    padding: .5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.weather {
    display: none;
}

.weather-box h2::after {
    content: " ⛅";
}