
:root {
    --yellow: rgb(252, 239, 129);
    --blue: rgb(46, 46, 206);
    --red: rgb(189, 24, 24);
    
}

header {
    text-align: center;
    font-size: xx-large;
    color: var(--blue);
    background-color: var(--yellow);
    padding-bottom: 20px;
}

body {
    background-color: var(--blue);
    color: var(--yellow);
    margin: 0;
}

footer {
    background-color:  var(--red);
    color: var(--yellow);
    display: block;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

dl {
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem 1rem;
}

dt {
    font-weight: bold;
    text-align: right;
    padding-right: .5rem;
}

dd {
    margin: 0;
    text-align: left;
}

.hero {
    display: block;
    width: 100%;
    height: auto;
    
}

.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.2rem;
}

.data-box {
    border: 2px solid var(--red);
    margin: 10px;
    padding: 10px;
}