
:root {
    --yellow: rgb(252, 239, 129);
    --blue: rgb(46, 46, 206);
    --red: rgb(189, 24, 24);
    
}

body {
    background-color: var(--blue);
    color: var(--yellow);
    margin: 0;
    font-size: 1.2rem;
}

header {
    text-align: center;
    color: var(--blue);
    background-color: var(--yellow);
    padding: .5rem;
    font-size: xx-large;
}

footer {
    background-color:  var(--red);
    color: var(--yellow);
    text-align: center;
    padding: 5px;
}

h1, h2 {
    margin: 0 auto;
    text-align: center;
}
h2 {
    margin-bottom: .5rem;
}

dl {
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem 1rem;
    justify-content: center;
}

dt {
    font-weight: bold;
    text-align: right;
}

dd {
    margin: 0;
    text-align: left;
}

.hero {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.2rem;
}

.data-box {
    border-bottom: 1px solid var(--red);
    margin: 1rem;
    padding: 1rem;
}

.weather-box {
    margin: 1rem;
    padding: 1rem;
}

.weather {
    display: block;
    width: 100px;
    height: auto;
    margin: .5rem auto 1rem;
}