
body {
    font-family: 'roboto', sans-serif;
    font-weight: 400;

}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(108, 175, 243);
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
main section {
    padding: 1rem;
    background-color: rgb(146, 195, 245);
}